.unranked-list {
  grid-area: unranked;
  background-color: bisque;
  width: auto;
  padding: 10px 0;
  height: auto;
  display: flex;
  flex-direction: column;
}

.list-container {
  background-color: white;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.list-container:has(div.playlist-load-notifier) {
  overflow: hidden!important;
}

.list-container:has(div.playlist-load-notifier) > *:not(div.playlist-load-notifier) {
  overflow: hidden!important;
  display: none;
}

.playlist-load-notifier {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 200)
}

.playlist-header {
  margin: 5px 0;
  font-size: 13px;
}

.playlist-input {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.playlist-input > input {
  width: 100%;
}

.pagination-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination-options > input {
  width: 40px;
  margin-top: 10px;
}
