/* html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.higher-power::-webkit-scrollbar {
  display: none;
  width: 0px;
} */

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.higher-power {
  display: grid;
  grid-template-areas:
    "header header"
    "tab tab";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-area: header;
  background-color: dodgerblue;
}

.title-and-tabs {
  padding: 5px;
}

.title-and-tabs h1 {
  margin: 0
}

.header-tab-btn {}

.login-display {
  margin-left: auto;
  max-height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center
}

.login-display img {
  padding: 5px;
  border-radius: 50px
}

.tab-area {
  grid-area: tab;
  background-color: rebeccapurple;
  max-height: 100%
}

.hub {
  display: grid;
  grid-template-areas:
    "image player source"
    "unranked ranked text";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 100%;
}

.cover-display {
  grid-area: image;
  background-color: greenyellow;
  max-height: 100%;
  max-width: 100%;
}

.cover-display-title {
  position: absolute;
  padding: 0;
  margin: 0;
}

.cover-display-image {
  max-width: 100%;
  max-height: 100%;
}

.integrated-player {
  grid-area: player;
  background-color: green;
  height: 100%;
  width: 100%;
}

.source-selector {
  grid-area: source;
  background-color: peru;
  height: 100%;
  width: 100%;
}

.unranked-list {
  grid-area: unranked;
  background-color: bisque;
  height: 100%;
  width: 100%;
}

.ranked-list {
  grid-area: ranked;
  background-color: orangered;
  height: 100%;
  width: 100%;
}

.text-modifier {
  grid-area: text;
  background-color: white;
  height: 100%;
  width: 100%;
}
