/* html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.higher-power::-webkit-scrollbar {
  display: none;
  width: 0px;
} */

html {
  overscroll-behavior: none;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  box-sizing: border-box;
}

.higher-power {
  display: grid;
  grid-template-areas:
    "header header"
    "tab tab";
  height: 100vh;
  grid-template-rows: auto 1fr;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-area: header;
  background-color: dodgerblue;
}

.title-and-tabs {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

.title-and-tabs h1 {
  margin: 0
}

.header-tab-btn-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row
}

.header-tab-btn {
  text-decoration: none;
  border: none;
  background-color: dodgerblue;
  flex-grow: 1;
}

.header-tab-btn-login {
  background-color: rgb(120, 177, 235);
}

.header-tab-btn:hover {
  background-color: rgb(14, 98, 182)
}

.login-display {
  margin-left: auto;
  max-height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center
}

.login-display img {
  padding: 5px;
  border-radius: 50px
}

.tab-area {
  display: grid;
  grid-area: tab;
  background-color: rebeccapurple;
  min-height: 0;
  overflow: visible;
}

.hub {
  display: grid;
  grid-template-areas:
    "unranked player player"
    "unranked text text";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 0;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-items: stretch;
  box-sizing: border-box;
}

.cover-display {
  grid-area: image;
  background-color: greenyellow;
  max-width: 100%;
  aspect-ratio: 1 / 1;  /* to stop it visually expanding */
}

.section-title {
  position: absolute;
  opacity: 0.4;
  padding: 0;
  margin: 0;
}

.cover-display-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.integrated-player {
  grid-area: player;
  background-color: green;
  width: auto;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.source-selector {
  grid-area: source;
  background-color: peru;
  width: 100%;
}

.unranked-list {
  grid-area: unranked;
  background-color: bisque;
  width: auto;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.list-container {
  background-color: white;
  padding: 0;
  margin: 0;
  overflow: scroll;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.ranked-list {
  grid-area: ranked;
  background-color: orangered;
  width: 100%;
}

.text-modifier {
  grid-area: text;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0;
  box-sizing: border-box;
}

.text-modifier-header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.text-modifier-header h2 {
  margin: 0;
  padding: 0;
}

.text-modifier-header .save-icon {
  margin: 0;
  padding: 0;
}

.text-modifier hr {
  width: 100%;
  box-sizing: border-box;
}

.text-editor {
  padding: 20px;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  box-sizing: border-box;
  display: inline-block;
}

.text-editor textarea {
  border-width: 1px;
  height: 100%;
  width: 100%;
  resize: none;
}

.playlist-header {
  margin: 5px 0;
  font-size: 13px;
}

.playlist-input {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.playlist-input > input {
  width: 100%;
}

.pagination-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination-options > * {
  margin: 5px;
  flex-grow: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.pagination-options > input {
  width: 40px;
}

.pagination-pages-num {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px
}
