body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.higher-power {
  display: grid;
  grid-template-areas:
    "header header"
    "tab tab";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  /* gap: 3px; */
  /* padding: 5px; */
  height: 100vh;
}

.general-header {
  grid-area: header;
  background-color: dodgerblue;
  padding: 5px
}

.general-header h1 {
  margin: 0
}

.awe-tab {
  grid-area: tab;
  background-color: rebeccapurple;
  max-height: 100%
}


.home {
    display: grid;
  grid-template-areas:
    "image player source"
    "unranked ranked text";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 3px; */
  /* padding: 5px; */
  max-height: 100%;
}

.cover-display {
  grid-area: image;
  background-color: greenyellow;
  max-height: 100%;
  max-width: 100%;
}

.cover-display-title {
  position: absolute;
  padding: 0;
  margin: 0;
}

.cover-display-image {
  max-width: 100%;
  max-height: 100%;
}


.integrated-player {
  grid-area: player;
  background-color: green;
  height: 100%;
  width: 100%;
}
.source-selector {
  grid-area: source;
  background-color: peru;
  height: 100%;
  width: 100%;
}
.unranked-list {
  grid-area: unranked;
  background-color: bisque;
  height: 100%;
  width: 100%;
}
.ranked-list {
  grid-area: ranked;
  background-color: orangered;
  height: 100%;
  width: 100%;
}
.text-modifier {
  grid-area: text;
  background-color: white;
  height: 100%;
  width: 100%;
}